<h1>New Group</h1>
<hr>

<%= form_for @group do |f|%>
  Title
  <%= f.text_field :title%>
  <br>
  Description
  <%= f.text_area :description%>
  <br>
  <%= f.submit "submit", :disable_with => 'submitting....'%>
<% end %>
