<div class="container">
  <table class="table table-hover">
    <tbody>
      <% @groups.each do |group|%>
        <tr>
          <td><%= link_to group.title, group%></td>
          <td><%= group.description%></td>
          <td><%= group.user.email%></td>
          <td><%= group.created_at.to_date%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
